.todoList {
  text-align: center;
  max-width: 1000px;
  margin: 50px auto;
}

.list {
  list-style: none;
  background-color: rgb(231, 231, 231);
  border-radius: 6px;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 2px 2px 4px rgba(99, 99, 99, 0.1) inset;
}

li:last-of-type {
  margin-bottom: 0;
}

.emptyList {
  font-size: 2rem;
  color: rgb(180, 180, 180);
  text-align: center;
  height: 30vh;
}

.emptyList p {
  position: relative;
  top: calc(50% - 40px);
}

.emojis {
  opacity: 40%;
}